app:
  public_list_size: 10
spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/pastebin
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
    hikari:
      auto-commit: false
  jpa:
    open-in-view: false
    show-sql: true
    properties:
      hibernate.format_sql: true
    hibernate:
      ddl-auto: update
  liquibase:
#    enabled: false
    change-log: classpath:db/changelog/db.changelog-root.yaml
logging:
  level:
    ru.aosinin.pastebin: DEBUG
